<h2>Liste des résultats</h2>
<ol>
<% i = 0 %>
<%     @list = SearchMovie.new(params[:movie_title] ).perform %>
  <% 20.times do %>
  <ul>
    <li><%= @list[i]["title"] %></li>
    <li><%= @list[i]["date"] %></li>
    <li><%=@list[i]["director"] %></li>
    <img src="https://image.tmdb.org/t/p/w200_and_h300_bestv2<%=@list[i]["poster"] %>">
  </ul>
  <br>
    <% i+=1 %>
  <% end %>
</ol>